$content-primary-enabled-dark: #001A40;
$content-primary-hover-dark: #002E68;
$content-primary-pressed-dark: #000000;

$content-primary-enabled-light: #FFFFFF;
$content-primary-hover-light: #FFFFFF;
$content-primary-pressed-light: #FFFFFF;


$content-secondary-enabled-dark: #575E71;
$content-secondary-hover-dark: #7D949D;
$content-secondary-pressed-dark: #293041;


$content-tertiary-enabled-dark: #8C9AB5;
$content-tertiary-hover-dark: #6278A2;
$content-tertiary-pressed-dark: #536587;


$content-accent-enabled-dark: #2650BE;
$content-accent-hover-dark: #1E4098;
$content-accent-pressed-dark: #18337A;


$content-system-positive: #009C37;
$content-system-negative: #BA1A1A;
$content-system-warning: #FFAE38;


$content-disabled: #BFC8CC;


$background-primary-enabled-dark: #001A40;
$background-primary-hover-dark: #09224A;
$background-primary-pressed-dark: #000000;

$background-primary-enabled-light: #FCFCFD;
$background-primary-hover-light: #FCFCFD;
$background-primary-pressed-light: #F9F9FA;


$background-secondary-enabled-dark: #F0F3FB;
$background-secondary-hover-dark: #E9EFF9;
$background-secondary-pressed-dark: #E1EAF6;

$background-tertiary-enabled-dark: #F0F0F4;
$background-tertiary-hover-dark: #FEFBFF;
$background-tertiary-pressed-dark: #FFFFFF;

$background-accent-enabled-dark: #D5E3FF;
$background-accent-hover-dark: #A6C8FF;
$background-accent-pressed-dark: #73ADFF;

$background-system-positive: #E6F4E7;
$background-system-negative: #FFE6DF;
$background-system-warning: #FFF1DC;

$background-disabled: #EFF1F2;

$border-color: #E3E7ED;