@import '@/styles/variables.scss';

.footer{
  padding: 6.4rem 0 .8rem 0;
}

.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 2.4rem;

  @media(max-width: 904px){
    flex-direction: column;
    justify-content: center;
  }
}

.link{
  & > svg *{
    fill: $content-accent-enabled-dark;
  }

}

.navigate{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;

  @media(max-width: 599px){
    grid-template-columns: repeat(1, 1fr);
    gap: 1.6rem;
  }

  & >a {
    width: 100%;
    text-align: center;
  }
}

.button{
  color: $content-primary-enabled-dark;
  padding: 0 1.6rem;
  white-space: nowrap;

  width: 100%;

  @media(max-width: 599px){
    color: $content-accent-enabled-dark;
  }
}

.bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
  padding: 1.6rem 0;

  @media(max-width: 599px){
    flex-direction: column-reverse;
  }
}

.created{
  color: $content-secondary-enabled-dark;

  @media(max-width: 599px){
    text-align: center;
  }
}

.social{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}